.reviewsList {
  padding-bottom: 15px;
}
.reviewsList span {
  margin: 2px 0 ;
}

.reviewForm {
  margin: 10px;
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
}

.reviewForm h2 {
  align-self: center;
}

.reviewTextArea {
  width: 100%;
}

.rating-input {
  display: flex;
  margin-right: 4px;
  padding: 20px;
  justify-content: space-around;
  width: 100%;
}

.rating-input .filled {
  color: black;
}

.rating-input .empty {
  color: rgb(168, 168, 168)
}

.deleteReviewButton button {
  background-color: #476574;
  border: 4px groove #e43803;
  height: 25px;
  font-size: medium;
  margin: 10px 0;
  padding-bottom: 20px;
  color: rgb(232, 246, 255);
}

.deleteReviewModal {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 20px 30px 30px 30px;
  justify-content: center;
}
.deleteReviewModal span {
  margin-bottom: 15px;
  text-align: center;
}

.deleteReviewModal button {
  margin: 10px;
  width: 100%;
}

.reviewButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 2% 0;
}
