form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputFormSignup {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 20px 30px 30px 20px;
  position: relative;
  height: 510px;
  align-items: center;
  justify-content: center;
}

h1 {
display: flex;
justify-content: center;
}

div {
  width: 50vw;
}


.signupButton button{
  margin: 15px 0 50px 0;
}


button:hover {
  cursor: pointer;
}

div {
  width: auto;
}

.errors {
  color: red;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 250px;
}


.inputFormSignup input {
  width: 250px;
  margin-bottom: 10px;

}


.inputFormSignup h1 {
  margin-bottom: 10px;
}

.inputFormSignup label {
  width: 256.21px;
  margin-left: 0;
}

.inputFormSignup span {
  margin-bottom: 10px;
  text-align: center;
  word-wrap: wrap;
}
