form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.inputForm {
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
  width: 300px;
}

h1 {
display: flex;
justify-content: center;
}

div {
  width: 50vw;
}


.inputBox {
  justify-content: right;
  align-items: right;
  display: flex;
  flex-direction: column;
}

.submitButton {
  display: flex;
  justify-content: center;
  margin: 10px;
}


button:hover {
  cursor: pointer;
}

div {
  width: auto;
}

.errors {
  color: red;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
