form {
  display: flex;
  flex-direction: column;
}

.inputFormSignup {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 20px 30px 0 20px;
  position: relative;
  height: 510px;
  align-items: center;
  justify-content: center;
}

h1 {
display: flex;
justify-content: center;
}

div {
  width: 50vw;
}


.submitButton {
  display: flex;
  justify-content: center;
  margin: 10px;
}


button:hover {
  cursor: pointer;
}

div {
  width: auto;
}

.errors {
  color: red;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.inputFormSignup input {
  width: 300px;
  margin-bottom: 10px;
}


.inputFormSignup h1 {
  margin-bottom: 20px;


}
