img {
 height: 251.42px;
 width: 377.52px;

}

.spotsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 0 0;
}

.spotsCards {
  padding-bottom: 20px;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;

}

.spotsCards:hover {
  box-shadow: 5px 5px 5px 5px rgba(2, 114, 179, 0.247);
}

.spotDeets {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
  justify-content: space-between;
  flex-wrap: wrap;

}

.price {
  font-weight: bold;

}

.text {
  font-weight: normal;

}

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  padding: 3px;
  cursor: pointer;
  margin: 130px;
}

.spotsCards:hover .tooltip {
  display: block;
}
