img {
 height: 251.42px;
 width: 377.52px;

}

.spotsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 0 0;

}

.spotsCards {
  padding-bottom: 20px;
  padding-left: 20px;
  margin: auto;
}

.spotDeets {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
  justify-content: space-between;
  flex-wrap: wrap;

}

.price {
  font-weight: bold;

}

.text {
  font-weight: normal;

}

.spotsCards:hover {
  cursor: pointer;

}
