.updateDeleteButtons {
  padding: 10px 0;
}
.updateDeleteButtons button {
  background-color: #476574;
  border: 4px groove #e43803;
  height: 25px;
  font-size: medium;
  margin-right: 20px;
  padding-bottom: 20px;
  color: rgb(232, 246, 255);
}

.deleteModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding:  0 20px 30px;
  width: max-content;

}

.deleteModal span {
  padding-bottom: 20px;
}

.deleteModal button {
  margin: 10px;
  width: 100%;
}

.manage-spots-container {
  margin: auto 5vw;
}
