.singleSpotDeets {
  border-bottom: solid grey 1px;
  padding-bottom: 15px;
  max-width: 980px;
  margin: auto;
}

.imageContainer {
  margin: auto;
  display: grid;
  grid-template-areas:
      "a a b c"
      "a a d e";
  grid-template-columns: 50% 0 1fr 1fr;
  grid-gap: 7px;
}

.imageContainer img:nth-child(1) {
  grid-area: a;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.imageContainer img:nth-child(2) {
  grid-area: b;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

.imageContainer img:nth-child(3) {
  grid-area: c;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageContainer img:nth-child(4) {
  grid-area: d;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

.imageContainer img:nth-child(5) {
  grid-area: e;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spotImages {
  padding: 3px;

}

.spotDescription {
  max-width: 700px;
  display: flex;

}


.detailsContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.reserveContainer {
  border: solid black 1px;
  border-radius: 10px;
  width: 300px;
  height: 90px;
  padding: 5px 15px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.reserveContainer button {
  align-self: center;
  width: 250px;
}

.reserveSpans {
  padding: 10px 0 0 10px;
}

.reviewContainer {
  margin-bottom: 0px;
  font-size: larger;
  font-weight: bold;
}
