.singleSpotDeets {
  padding-bottom: 15px;
  max-width: 980px;
  margin: auto;
}

.imageContainer {
  margin: auto;
  display: grid;
  grid-template-areas:
      "a a b c"
      "a a d e";
  grid-template-columns: 50% 0 1fr 1fr;
  grid-gap: 7px;
}

.imageContainer img:nth-child(1) {
  grid-area: a;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;

}
.imageContainer img:nth-child(2) {
  grid-area: b;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:  0;
  }

.imageContainer img:nth-child(3) {
  grid-area: c;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 20px 0 0;
}

.imageContainer img:nth-child(4) {
  grid-area: d;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  }

.imageContainer img:nth-child(5) {
  grid-area: e;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 20px 0;
}

.spotImages {
  padding: 3px;

}

.spotDescription {
  max-width: 680px;
  display: flex;
  word-break: normal;
  text-wrap: wrap;
}


.detailsContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.reserveContainer {
  border: 1px solid #476574;
  border-radius: 6px;
  width: 250px;
  height: 90px;
  padding: 5px 15px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.reserveContainer button {
  align-self: center;
  width: 250px;
  margin-top: 5px;
}

.starAndReview {
  padding: 12px 0 0 0 ;
}
.reservePrice {
  padding: 10px 0 0 0 ;
}
.reviewContainer {
  border-top: 1px solid #476574;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.reviewButton button{
  background-color: #476574;
  border: 4px groove #e43803;
  height: 25px;
  font-size: medium;
  margin: 10px 0;
  padding-bottom: 20px;
  color: rgb(232, 246, 255);
}


@media screen and (max-width: 479px) {
  .imageContainer {
    height: 100%;
    width: 277.52px;
    grid-template-areas:
    "a"
    "b "
    "c"
    "d"
    "e";
    grid-template-columns: 1fr;
    margin: auto;

   }
   .imageContainer img:nth-child(1) {
    border-radius: 10px 10px 10px 10px;
    margin: auto;
   }
   .imageContainer img:nth-child(2) {
    border-radius: 10px 10px 10px 10px;
    margin: auto;
   }
   .imageContainer img:nth-child(3) {
    border-radius: 10px 10px 10px 10px;
    margin: auto;
   }
   .imageContainer img:nth-child(4) {
    border-radius: 10px 10px 10px 10px;
    margin: auto;
   }
   .imageContainer img:nth-child(5) {
    border-radius: 10px 10px 10px 10px;
    margin: auto;
   }

   h2 {
    margin: 5px 0;
   }
   h4 {
    font-size: smaller;
    padding: 10px 0;
   }
   h3 {
    position: relative;
    margin: auto;
    padding-top: 10px;
   }

   .spotsContainer {
    width: 100%;
  }

  .reserveContainer {
    border: 1px solid #476574;
    border-radius: 6px;
    padding: 0 15px 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }
  .detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #476574;
    text-wrap: wrap;
  }
  .spotDescription {
    text-wrap: wrap;
    word-break: normal;
  }

  .singleSpotDeets {
    padding-bottom: 15px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .reviewContainer {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 77px;
    border: none;
  }

  .reviewButton {
    display: flex;
   justify-content: center;
  }

}
