/* TODO: Add sitewide styles */

html {
  font-family: "Urbanist", sans-serif;
  margin: auto;
  max-width: 100%;
  min-width: 318px;
}

button {
  padding: 5px;
  width: fit-content;
  background: #476574;
  color: rgb(255, 255, 255);
  border: 2.80px solid black;
  border-radius: 5px;
  font-size: 16px;
  align-self: center;
}

button:hover {
  box-shadow: 0 0 5px #1f2f36;
}

button:active {
  transform: scale(0.95);
}
