li {
  display: flex;
  flex-direction: column;
}

button {
  height: auto;
  width: 80px;
  font-size: 15px;
  padding: 5px;
  align-self: flex-end;
  margin: 5px 0 0 0;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.profile-dropdown {
  background-color: rgb(238, 227, 236);
  width: fit-content;
  padding: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.home {
  display: flex;
  font-size: larger;
}
