li {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(214, 214, 214);

}
button {
  width: fit-content;
}

.menu {
  width: 70px;
  font-size: 15px;
  align-self: flex-end;
  margin: 1px;
  position: relative;
  border-radius: 37%;
}

.logout {
  width: fit-content;
  border-radius: 15%;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.hidden {
  display: none;

}

.profile-dropdown {
  background-color: rgba(235, 50, 80, 0.20);
  width: fit-content;
  height: fit-content;
  padding: 15px;
  margin: 40px 0 0 0;
  align-self: flex-end;
  position: absolute;
  border-radius: 5%;
}

i.fa-dragon {
  color: rgb(235, 50, 80);

}

.profileButton {
  padding: 5px;
  margin-left: 5px;
}

.createNewSpotContainer {
  display: flex;
  align-items: center;
}

.logo {
  color: rgb(235, 50, 80);
  font-weight: bold;
  text-decoration: none;
}
