li {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
}

button {
  width: 70px;
  font-size: 15px;
  align-self: flex-end;
  margin: 1px;
  position: relative;
  z-index: 2;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;

}

.profile-dropdown {
  background-color: rgba(253, 229, 223, 0.63);
  width: fit-content;
  height: fit-content;
  padding: 15px;
  margin: 40px 0 0 0;
  align-self: flex-end;
  position: absolute;
}

i.fa-dragon {
  color: rgb(235, 50, 3);
}

.profileButton {
  padding-top: 2px;
}
