form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin: 15px;

}

h1 {
  align-self: center;
  margin: auto;
  padding-bottom: 20px;
}

.login {
  display: flex;
  justify-content: center;
  margin: 10px;
}


button:hover {
  cursor: pointer;
}

.inputBox {
  display: flex;
  width: fit-content;
  align-content: start;
  margin: auto;
}

div {
  width: auto;
}
