form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 300px;

}

.login {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  height: 40px;
  width: 100%;
  background: #e43803;
  color: rgb(255, 255, 255);
  border: 2.80px solid #476574;
  border-radius: 5px;
  font-size: 20px;
  align-self: center;
}

.loginButtonModal {
  width: 186.22px;
}

button:hover {
  cursor: pointer;
}

.inputBox {
  display: flex;
  width: fit-content;
  align-content: start;
  margin: auto;
}

div {
  width: auto;
}


.loginButton {
  width: 100%;
}

.inputBox input {
  width: 200px;
  margin-bottom: 10px;
}
