form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin: 15px;

}

.login {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  height: 40px;
  width: 100%;
  background: rgb(235, 50, 80);
  color: rgb(255, 255, 255);
  border: 2.80px solid rgba(2, 114, 179);
  font-size: 20px;
  align-self: center;
}

.loginButtonModal {
  width: 100%;
}

#modal-content {
  border-radius: 30px;
}


button:hover {
  cursor: pointer;
}

.inputBox {
  display: flex;
  width: fit-content;
  align-content: start;
  margin: auto;

}

div {
  width: auto;
}


.loginButton {
  width: 100%;
}
