.review-cards {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: start;


}

.review-cards img {
  margin: 0;
}



.review-card-container {
  margin: auto 5vw;
}

.updateReviewModal {
  padding: 25px
}
